/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24 nov. 2019, 11:37:07
    Author     : Tony
*/

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Mountains+of+Christmas|Concert+One&display=swap');

@font-face { 
    font-family : "BigJohnPRO-Bold"; 
    src: url("../src/public/fonts/bigjohnpro-bold-webfont.woff2") format("woff2"),
        url("../src/public/font/bigjohnpro-bold-webfont.woff" ) format("woff");
}
@font-face { 
    font-family : "BigJohnPRO-Regular"; 
    src: url("../src/public/fonts/bigjohnpro-regular-webfont.woff2") format("woff2"),
        url("../src/public/font/bigjohnpro-regular-webfont.woff" ) format("woff");
}


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$title-family : 'Concert+One', cursive;
// Update Content progress bar
$progress-value-background-color : hsl(357, 80%, 50%);



// Import only what you need from Bulma
@import "../src/public/bulma-0.8.0/sass/utilities/_all.sass";
@import "../src/public/bulma-0.8.0/sass/base/_all.sass";
@import "../src/public/bulma-0.8.0/sass/components/_all.sass";
@import "../src/public/bulma-0.8.0/sass/elements/_all.sass";
@import "../src/public/bulma-0.8.0/sass/form/_all.sass";
@import "../src/public/bulma-0.8.0/sass/grid/_all.sass";
@import "../src/public/bulma-0.8.0/sass/layout/_all.sass";
@import "../src/public/bulma-0.8.0/bulma-pageloader-master/dist/css/bulma-pageloader.min.css";

progress{
    background-color:#48c774;
    background-image:url('../src/public/img/gifts.png');
    background-repeat: repeat-x;
    background-size:150px;
    height:50px!important;
}

.hero {
    background-image: url('../src/public/img/gif-noel-2016-19.gif');
    background: linear-gradient(
        rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)),
        rgba(0, 0, 0, 0.55) url('../src/public/img/gif-noel-2016-19.gif') no-repeat;
    background-attachment: scroll, scroll;
    background-size: auto, auto;
    background-attachment: fixed;
    background-size: cover;
    color:
        white;
    box-shadow: inset 0 3px 6px
        rgba(0, 0, 0, 0.16), 0 3px 6px
        rgba(0, 0, 0, 0.23);
    font-family: 'Poppins', sans-serif;

}

.item-bottom{
    align-items: start;
}

#is-the-one{
    border-style: dotted;
}


.day-number{
    position:absolute;
    font-family: "BigJohnPRO-Bold";
    font-size: 4rem;
    z-index:1;
    color:white;
    top: 21px;
    left: 4px;
    line-height: 2.5rem;
}

.day_detail{
    font-family: "BigJohnPRO-Regular";
    font-size: 2rem;
    color:#8E2E2F;
}

.is-click{
    cursor: pointer;
}



    



.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

@keyframes fall {
    
    100% {
        transform: translateY(0);
    }
    
}

.pageloader{
    background-color:#48C774;
}




